@media(max-width: 410px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media(max-width: 1220px) {
    /* 
    reduce padding on about container
    and make profile img smaller
    */
    /* -- about -- */
    .about-container {
        padding-left: 5%;
        padding-right: 5%;
    }
    #profile-img {
        width: 300px;
    }
}

@media(max-width: 973px) {
    /* 
    reduce width of skills banner
    */
    /* -- about -- */
    .skills-heading {
        width: 400px;
    }
}

@media(max-width: 973px) {
    /* 
    reduce width of skills banner
    */
    /* -- about -- */
    .skills-heading {
        width: 300px;
    }
}

@media(max-width: 680px) {
    /* 
    about mobile responsive
    */
    /* -- about -- */
    .about-container {
        flex-direction: column;
    }
    #profile-img {
        
    }
    .skills-heading {
        background-color: initial;
        width: initial;
    }
}